*{
 margin: 0;
 box-sizing: border-box;
 font-family: sans-serif;                   
}
body{
                    min-height: 100vh;
         background-color: #775006;
         display: grid;
         place-items: center;           
}
.calculadora{
   background-color: #543b01;
   color: white;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   width: 350px;
   padding: 1.5rem;
   border-radius: 1rem;
}
.pantalla{
                    grid-column: 1 / 5;
                    background-color: #775006;
                    padding: 1.5rem;
                    font-size:2rem;
                    text-align: right;
                    
}